body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mint {

  position: relative;
    margin: 0 auto;
    top: 25%;
}
.center {
  margin: 15em;
  width: 30%;
  border: 3px solid #7c7c7c;
  padding: 15px;
}

.supply1 {
  margin: auto;
  width: auto;
  border: 3px solid #7c7c7c;
  padding: 15px;
}
.supply2 {
  margin: auto;
  width: auto;
  border: 3px solid #7c7c7c;
  padding: 15px;
}
.supply3 {
  margin: auto;
  width: auto;
  border: 3px solid #7c7c7c;
  padding: 15px;
}
.poto {
  margin: 0 auto;
  width: auto;
  margin-right: 8em;
  margin-top: 2em;
  padding: 15px;
}

.btnmnt {
  margin: 0 auto;
  width: auto;
  margin-right: 8em;
  margin-top: 2em;
  padding: 15px;
}

.casino {
  color: #319df5;
  text-decoration: none;
  text-align: right;
}

.link {
  color: #7c7c7c;
  text-decoration: none;
  text-align: right;
}

button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: #7c7c7c;
}